.container{
    margin: auto;
    text-align: center;
}
.container h1 {
    font-size: 80px;
    font-family: Impact;
}

.container p{
    font-size: 35px;
}

.container button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}

.container button:hover{
    background-color: green;
}

